@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

body {
    background-color: #EFE1D1;
    margin: 500px;
}