.title{
    color: black;
    justify-content:start;
    display: inline-flex;
    width: 600px;
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}