.listItem{
    color: black;
    padding:10px;
    margin-right: 10px;
    height: 50px;
    display: flex;
    font-weight: 700;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.listItem::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    left: 0;
    transform: scaleX(0);
}

.listItem:hover::before{
    transform: scaleX(1);
    background-color: #435334;
}
